@charset "UTF-8";
*{
	box-sizing: border-box;
}
main{
	border: 3px solid #00f;
	padding: 0px;
	margin: 10px auto;
	width: 1300px;
	height: 650px;
	position: relative;
}
div.login{
	border: 3px solid #00f;
	padding: 5px;
	margin: 0px;
	width: 100%;
	text-align: right;
}
header{
	border: 3px solid #00f;
	padding: 5px;
	margin: 0px;
	width: 100%;
	background-image: url(../images/background1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
div.corp-name{
	font-weight: bolder;
	font-family: Times New Roman;
}
nav{
	padding: 5px;
	margin: 0px;
	display: inline-block;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
nav ul{
	list-style: none;
	padding: 8px;
	margin: 0px;
	background-color: #fff;
	opacity: 0.5;
	border-radius: 10px;
}
nav li{
	display: inline-block;
}
nav a{
	text-decoration: none;
	display: inline-block;
	transition: transform 1s ease 0s;
	text-align: center;
	color: #000;
	font-weight: bold;
}
nav a:hover{
	background-color: #fff;
	transform: scale(1.8,1.8);
	border-radius: 8px;
}
div.content-main{
	border: 3px solid #00f;
	padding: 5px;
	margin: 0px;
	width: 100%;
	height: 450px;
}
footer{
	border: 3px solid #00f;
	padding: 5px;
	margin: 0px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	background-color: #ccc;
}