@charset "UTF-8";
*{
	box-sizing: border-box !important;
}
.main_index{
	border: 2px solid cadetblue !important;
	margin: 10px auto !important;
	width: 1300px !important;
	min-height: 750px !important;
	position: relative !important;
	overflow: auto !important;
}
.login_index{
	padding: 5px !important;
	display: inline-block !important;
	width: 100% !important;
	text-align: right !important;
}

/* 
header
 */

.header_index{
	padding: 5px !important;
	display: inline-block !important;
	width: 100% !important;
	background-image: url(../images/background1.png) !important;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
	position: relative !important;
}
.header_index>.logo{
	display: block !important;
}
.corpname_index{
	display: inline-block !important;
	text-align: left !important;
	font-size: x-large !important;
	font-weight: bolder !important;
	font-family: Times New Roman !important;
}
.nav_index{
    display: inline-block !important;
    position: absolute !important;
    right: 0px !important;
    bottom: 0px !important;
    background-color: #fff !important;
    opacity: 0.5 !important;
}
.nav_index .ul_index{
    list-style: none !important;
    display: inline-block !important;
    padding: 0px !important;
    margin: 0px !important;
}
.nav_index li{
	display: inline-block !important;
}
.nav_index a{
	text-decoration: none !important;
	display: inline-block !important;
	text-align: center !important;
	font-size: large !important;
	font-weight: bold !important;
	color: #000 !important;
	padding: 1px;
}
.nav_index a:hover{
	background-color: #ccc !important;
}

/* 
content
 */

.content_index{
	padding: 5px !important;
	width: 100% !important;
	min-height: 495px !important;
	overflow: auto !important;
	position: reraltive !important;
}

/* 
footer
 */

.footer_index{
	padding: 5px !important;
	position: absolute !important;
	width: 100% !important;
	bottom: 0px !important;
	text-align: center !important;
	background-color: #ccc !important;
}