@charset "UTF-8";
*{
	box-sizing: border-box;
}
main{
	border: 3px solid #00f;
	margin: 10px auto;
	width: 1300px;
	height: 650px;
	position: relative;
}
div.login{
	border: 3px solid #00f;
	padding: 5px;
	display: inline-block;
	width: 100%;
	text-align: right;
}

/* 
header
 */

header{
	border: 3px solid #00f;
	padding: 5px;
	display: inline-block;
	width: 100%;
	background-image: url(../images/background1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
header>img{
	display: block;
}
div.corpname{
	display: inline-block;
	text-align: left;
	font-size: x-large;
	font-weight: bolder;
	font-family: Times New Roman;
}
nav{
	padding: 5px;
	display: inline-block;
	position: absolute;
	right: 5px;
	bottom: 5px;
	background-color: #fff;
	border-radius: 10px;
	opacity: 0.5;
}
nav ul{
	list-style: none;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
nav li{
	display: inline-block;
}
nav a{
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-size: large;
	font-weight: bold;
	color: #000;
	transition: transform 0.5s ease 0s;
}
nav a:hover{
	transform: scale(1.5,1.5);
	background-color: #ccc;
	border-radius: 10px;
}

/* 
content
 */

div.content{
	border: 3px solid #00f;
	padding: 5px;
	width: 100%;
	height: 426px;
}

/* 
footer
 */

footer{
	border: 3px solid #00f;
	padding: 5px;
	position: absolute;
	width: 100%;
	bottom: 0px;
	text-align: center;
	background-color: #ccc;
}