@charset "UTF-8";
.main_member_control{
	width: 905px;
    height: 335px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid cadetblue;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    overflow: auto;
    position: relative;
    background-color: #EEEEEE;
}
.main_title_member_control{
    font-size: 20pt;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
}
.frm_member_control{
    width: 430px;
    float: left;
    background-color: #829460;
    border-radius: 10px;
    height: 170px;
    padding-top: 0px;
    margin-left: 10px;
}
#left_member_control{
	display: inline-block;
}
#right_member_control{
	display: inline-block;
}
.span_member_control{
	display: inline-block;
	width: 80px;
}
input[name='id']{
	width: 120px;
}
input[name='name']{
	width: 120px;
}
#photo_file_member_control{
	display: none;
}
#photo_member_control{
	width: 150px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: -15px;
    margin-right: 1px;
    margin-left: 10px;
}
#photo_member_control:hover{
	cursor: pointer;
}

/* 목록 표시 부분------------ */

#list_member_control{
	float: right;
    width: 435px;
    margin-right: 10px;
}
#title_member_control{
    background-color: #674747;
    color: #fff;
    padding: 2px;
    border-radius: 5px;
}
#list_member_control span{
	display: inline-block;
}
.span_id_member_control{ width: 90px; margin-left: 10px; }
.span_name_member_control{ width: 110px; }
.span_gender_member_control{ width: 50px; }
.span_phone_member_control{ width: 150px; }
#items_member_control{
	padding: 2px;
}
#items_member_control>div:last-child{
	border-bottom: 2px dotted #aaa;
}
#items_member_control>.item_member_control:hover{
	background-color: #ddd;
	cursor: pointer;
}
a{
	text-decoration: none !important;
	display: inline-block;
}
a:hover{
	background-color: #ccc;
}