@charset "UTF-8";
body{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
main{
	width: 1200px;
	min-height: 400px;
	margin: 30px auto;
	border: 4px outset #aaa;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 3px 3px 5px #999;
}