@charset "UTF-8";
*{
	box-sizing: border-box;
	padding: 0px;
}
p{
	background-color: #000;
	color: #fff;
	border-radius: 10px;
	padding: 5px;
}
span{
	display: inline-block;
	text-align: right;
	width: 50px;
}
input{
	display: inline-block;
	text-align: right;
	font-size: large;
	margin-bottom: 5px;
	border: 1px solid #000;
}
output{
	display: inline-block;
	text-align: right;
	width: 229px;
	background-color: #ccc;
	padding: 1px;
	font-size: large;
	font-weight: bold;
	border-radius: 5px;
	margin-bottom: 5px;
}
input[type="button"]{
	width: 229px;
	text-align: center;
	margin-top: 5px;
	border-radius: 5px;
}
input[type="text"]{
	border-radius: 5px;
}