@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main_score_crud {
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  justify-content: space-between;
  width: 540px;
  min-height: 250px;
  overflow: auto;
  position: relative;
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
  color: #fff;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  text-shadow: 5px 5px 3px #888;
  border: 2px solid #fff;
}

.main_score_crud>#left {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 10px;
  margin-top: -3px;
}

.main_score_crud h2 {
  margin-bottom: 10px;
}

.main_score_crud h2#h2_right {
  margin-bottom: 7px;
}

.main_score_crud form>span {
  display: inline-block;
  width: 50px;
  text-align: right;
}

.main_score_crud>#right {
  float: right;
  margin-top: -10px;
  width: 240px;
}

.main_score_crud #right>div {
  margin-bottom: 4px;
}

.main_score_crud #right>div.title {
  border-bottom: 1px solid #fff;
}

.main_score_crud .items:last-child {
  padding-bottom: 10px;
}

.main_score_crud .items>.item:hover {
  cursor: pointer;
  background-color: #888;
}

.main_score_crud div.title:last-child {
  border-bottom: 1.5px dotted #fff;
}

.main_score_crud #right span {
  display: inline-block;
  width: 55px;
  font-size: 12pt;
  font-weight: 400;
}

.main_score_crud #right span.subject {
  width: 75px;
}

.main_score_crud #right span.score {
  width: 35px;
}

.main_score_crud hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

.main_score_crud input[type="text"] {
  display: inline-block;
  width: 100px;
  height: 23px;
  text-align: right;
  padding: 2px;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 10pt;
}

.main_score_crud input[name="findText"] {
  width: 138px;
  text-align: left;
}

.main_score_crud input[type="button"] {
  display: inline-block;
  width: 46px;
  height: 22.5px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 10pt;
}

.main_score_crud input[name="btnFindSerial"] {
  margin-top: 10px;
  position: absolute;
  left: 159px;
  top: 33.5px;
}

.main_score_crud input[name="btnFilter"] {
  position: absolute;
  left: 418px;
  top: 45.5px;
}

.main_score_crud input[name="btnFilterClear"] {
  position: absolute;
  left: 468px;
  top: 45.5px;
}

.main_score_crud input[name="btnSave"] {
  margin-left: 6px;
}

.main_score_crud select {
  display: inline-block;
  width: 100px;
  height: 23px;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 10pt;
  text-align: right;
}

.main_score_crud>footer {
  position: absolute;
  bottom: 0;
  background-color: #000;
  border-radius: 0 0 15px 15px;
  color: #fff;
  padding: 5px;
  width: 100%;
  left: 0;
  text-align: center;
  text-shadow: 0 0 0 #fff;
  font-size: 11pt;
}

a{
	text-decoration: none !important;
	display: inline-block;
}
a:hover{
	background-color: #ccc;
}