@charset "UTF-8";
/*
div.test1>p{
	color: #f00;
}
div.test2>p{
	color: #f00;
}
*/
*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
main{
	border: 3px solid #00f;
	margin: 20px auto;
	width: 1300px;
	height: 650px;
	position: relative;
}
div.login{
	border: 3px solid #00f;
	display: inline-block;
	width: 100%;
	text-align: right;
}

/* 
header
 */

header{
	border: 3px solid #00f;
	display: inline-block;
	padding: 10px;
	width: 100%;
	position: relative;
	background-image: url(../images/background1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
div.corpname{
	display: inline-block;
	text-align: left;
	font-family: Times New Roman;
	font-size: x-large;
	font-weight: bolder
}
nav{
	display: inline-block;
	padding: 5px;
	position: absolute;
	right: 5px;
	bottom: 5px;
	background-color: #fff;
	border-radius: 10px;
	opacity: 0.5;
}
nav ul{
	list-style: none;
}
nav li{
	display: inline-block;
}
nav a{
	text-decoration: none;
	display: inline-block;
	color: #000;
	font-size: large;
	font-weight: bolder;
	text-align: center;
	transition: transform 1s ease 0s;
}
nav a:hover{
	background-color: #ccc;
	border-radius: 10px;
	transform: scale(1.5, 1.5);
}